::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  /*
  width: 200vw;
  height: 200vh;*/
  position: absolute;
  overflow: hidden;
}

.App {
  position: relative;
}

.Proyecto {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Proyecto:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.Proyecto-titulo {
  user-select: none;
}



.Proyecto-pagina {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  left: -100vw;
}

.cerrar-pagina {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  right: 50px;
  top: 50px;
  color: white;
  user-select: none;
}

.cerrar-pagina:hover {
  color: #ddd;
  cursor: pointer;
}

/*[targetproject="glitch-effect"]*/
.Proyecto {
  user-select: none;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}