#root {
  /*
  width: 200vw;
  height: 200vh;*/
  position: absolute;
  overflow: hidden;
}

.App {
  position: relative;
}

.Proyecto {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}